body {
  background-color: rgb(30, 30, 30);
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  border: solid 2px rgb(75, 75, 75);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

hr {
  width: 75%;
  border-style: solid;
  border-color: rgb(75, 75, 75);
  border-width: 1px;
}

#white {
  color: whitesmoke;
  margin: 0;
}

#green {
  color: rgb(0, 200, 150);
  margin: 0;
}

h4 {
  color: white;
  margin-bottom: 50px;
  margin-top: 0;
}

#select {
  margin-left: 5px;
  border: none;
  border-radius: 2px;
  background-color: rgb(75, 75, 75);
  color: rgb(0, 200, 150);
}

#select:hover {
  cursor: pointer;
}

#buttons {
  display: flex;
  flex-direction: row;
}

#gen-init {
  width: 200px;
  margin-bottom: 20px;
  background-color: rgb(0, 200, 150);
  color: whitesmoke;
  border: none;
  border-radius: 2px;
  padding: 5px;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: 0.25s;
}

#gen-init:hover {
  transition: 0.25s;
  filter: brightness(1.15);
  cursor: pointer;
}

#gen1,
#gen2 {
  width: 220px;
  margin-inline-end: 10px;
  margin-top: 20px;
  padding: 5px;
  background-color: rgb(50, 50, 50);
  border: none;
  border-radius: 2px;
  color: rgb(0, 200, 150);
}

#gen1:hover {
  filter: brightness(1.4);
  transition: 0.25s;
  cursor: pointer;
}

#gen2:hover {
  filter: brightness(1.4);
  transition: 0.25s;
  cursor: pointer;
}
